<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">




<meta name="author" content="K. Godwill Trevor" />
<style type="text/css">
    * {
        margin: 0;
        padding: 0;
        text-indent: 0;
    }
    
    .s1 {
        color: black;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 10pt;
    }
    
    h2 {
        color: black;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 12pt;
    }
    
    a {
        color: #0461C1;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: underline;
        font-size: 12pt;
    }
    
    h1 {
        color: #2D5294;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 20pt;
    }
    
    p {
        color: black;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
        margin: 0pt;
    }
    
    .s2 {
        color: black;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }
    
    .s3 {
        color: black;
        font-family: "Times New Roman", serif;
        font-style: italic;
        font-weight: bold;
        text-decoration: none;
        font-size: 11pt;
    }
    
    h3 {
        color: black;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 11pt;
    }
    
    h4 {
        color: black;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 10pt;
    }
    
    .s4 {
        color: black;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: underline;
        font-size: 11pt;
    }
    
    li {
        display: block;
    }
    
    #l1 {
        padding-left: 0pt;
    }
    
    #l1>li>*:first-child:before {
        content: " ";
        color: black;
        font-family: Symbol, serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }
    
    li {
        display: block;
    }
    
    #l2 {
        padding-left: 0pt;
        counter-reset: d1 1;
    }
    
    #l2>li>*:first-child:before {
        counter-increment: d1;
        content: counter(d1, decimal)". ";
        color: black;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 11pt;
    }
    
    #l2>li:first-child>*:first-child:before {
        counter-increment: d1 0;
    }
    
    table,
    tbody {
        vertical-align: top;
        overflow: visible;
    }
</style>
</head>

<div class="container ">
    <div class="col-md-8 mx-auto">
        <div style="text-align: right;"><button onclick="getResume()" class="btn btn-primary"><i class="fa fa-download"></i></button></div>
        <p style="text-indent: 0pt;text-align: left;"><br/></p>
        <h2 style="padding-top: 4pt;padding-left: 8pt;text-indent: 0pt;text-align: center;">NAME: KISIA GODWILL TREVOR</h2>
        <p style="text-indent: 0pt;text-align: left;"><br/></p>
        <h2 style="padding-left: 8pt;text-indent: 0pt;text-align: center;">PHONE NO.: +254726739857</h2>
        <p style="text-indent: 0pt;text-align: left;"><br/></p>
        <!-- <h2 style="padding-left: 8pt;text-indent: 0pt;text-align: left;">ID NUMBER: 37033644</h2> -->
        <!-- <p style="text-indent: 0pt;text-align: left;"><br/></p> -->
        <p style="padding-left: 8pt;text-indent: 0pt;text-align: center;"><a href="mailto:godwillkisia5@gmail.com" style=" color: black; font-family:&quot;Times New Roman&quot;, serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 12pt;" target="_blank">EMAIL ADDRESS: </a><a href="mailto:godwillkisia5@gmail.com"
                target="_blank">godwillkisia5@gmail.com</a></p>
        <p style="text-indent: 0pt;text-align: left;"><br/></p>

        <h1 style="padding-top: 4pt;padding-left: 8pt;text-indent: 0pt;text-align: center;"><a name="bookmark0">PROFILE</a></h1>
        <p style="padding-top: 2pt;padding-left: 8pt;text-indent: 0pt;line-height: 114%;text-align: justify;">I am a passionate and proficient software developer with over four years of experience in developing web and android applications using various technologies. I have a strong knowledge of HTML, CSS, JavaScript, PHP and MySQL, MongoDB, Postgres,
            Flutter, JavaScript, Nodejs, Java, Python as well as frameworks such as Laravel, Flask, Django and Vue.js. I have successfully delivered projects for clients in various industries, National Intelligence Service, Department of Defence and done
            my own projects in Agriculture such as The Smart Dairy Application. I enjoy learning new tools and techniques to improve my coding skills and create user-friendly solutions.</p>
        <p style="text-indent: 0pt;text-align: left;"><br/></p>
        <h1 style="padding-top: 10pt;padding-left: 8pt;text-indent: 0pt;text-align: left;"><a name="bookmark1">EDUCATIONAL BACKGROUND</a></h1>
        <p style="text-indent: 0pt;text-align: left;"><br/></p>
        <table style="border-collapse:collapse;margin-left:5.775pt" cellspacing="0">
            <tr style="height:34pt">
                <td style="width:129pt">
                    <p class="s2" style="padding-left: 2pt;text-indent: 0pt;line-height: 12pt;text-align: left;">September 2018-Present:</p>
                </td>
                <td style="width:164pt">
                    <p class="s2" style="padding-left: 17pt;text-indent: 0pt;line-height: 12pt;text-align: left;">Egerton University</p>
                </td>
                <td style="width:137pt">
                    <p class="s3" style="padding-left: 33pt;text-indent: 0pt;line-height: 114%;text-align: left;">Bachelor of Science in computer Science</p>
                </td>
            </tr>
            <tr style="height:24pt">
                <td style="width:129pt">
                    <p class="s2" style="padding-top: 5pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">2013-2017:</p>
                </td>
                <td style="width:164pt">
                    <p class="s2" style="padding-top: 5pt;padding-left: 17pt;text-indent: 0pt;text-align: left;">Mudasa secondary school</p>
                </td>
                <td style="width:137pt">
                    <p class="s3" style="padding-top: 5pt;padding-left: 33pt;text-indent: 0pt;text-align: left;">K.C.S.E (B+)</p>
                </td>
            </tr>
            <tr style="height:18pt">
                <td style="width:129pt">
                    <p class="s2" style="padding-top: 5pt;padding-left: 2pt;text-indent: 0pt;line-height: 12pt;text-align: left;">2005-2012:</p>
                </td>
                <td style="width:164pt">
                    <p class="s2" style="padding-top: 5pt;padding-left: 17pt;text-indent: 0pt;line-height: 12pt;text-align: left;">Sunrise Valley Academy</p>
                </td>
                <td style="width:137pt">
                    <p class="s3" style="padding-top: 5pt;padding-left: 33pt;text-indent: 0pt;line-height: 12pt;text-align: left;">K.C.P.E (382) marks</p>
                </td>
            </tr>
        </table>
        <p style="text-indent: 0pt;text-align: left;"><br/></p>
        <h1 style="padding-top: 4pt;padding-left: 8pt;text-indent: 0pt;text-align: left;">PROFESSIONAL EXPERIENCE</h1>
        <p style="text-indent: 0pt;text-align: left;"><br/></p>
        <h3 style="padding-top: 9pt;padding-left: 8pt;text-indent: 0pt;line-height: 194%;text-align: left;"><a name="bookmark2">INTERNSHIP KENYA POWER</a></h3>
        <p style="padding-left: 8pt;text-indent: 0pt;line-height: 12pt;text-align: left;">January 2023 – present</p>
        <p style="text-indent: 0pt;text-align: left;"><br/></p>
        <h3 style="padding-left: 8pt;text-indent: 0pt;text-align: left;"><a name="bookmark3">Duties and responsibilities</a></h3>
        <p style="text-indent: 0pt;text-align: left;"><br/></p>
        <ul id="l1">
            <li data-list-text="">
                <p style="padding-left: 44pt;text-indent: -18pt;text-align: left;">Software installation.</p>
            </li>
            <li data-list-text="">
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">Hardware troubleshooting.</p>
            </li>
            <li data-list-text="">
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">Fibre termination.</p>
            </li>
            <li data-list-text="">
                <p style="padding-top: 2pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">Cable maintenance.</p>
            </li>
            <li data-list-text="">
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">Fibre splicing.</p>
            </li>
            <li data-list-text="">
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">System configuration.</p>
            </li>
            <li data-list-text="">
                <p style="padding-top: 4pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">Network troubleshooting.</p>
            </li>
            <li data-list-text="">
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">Data entry.</p>
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
                <h3 style="padding-left: 8pt;text-indent: 0pt;text-align: left;"><a name="bookmark4">INTERNSHIP</a></h3>
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
                <h4 style="padding-left: 8pt;text-indent: 0pt;text-align: left;">BLUERAY COMPANY</h4>
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
                <p class="s4" style="padding-left: 8pt;text-indent: 0pt;text-align: left;">January 2018- August 2018</p>
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
                <h3 style="padding-top: 4pt;padding-left: 8pt;text-indent: 0pt;text-align: left;"><a name="bookmark5">Duties and responsibilities</a></h3>
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </li>
            <li data-list-text="">
                <p style="padding-left: 44pt;text-indent: -18pt;text-align: left;">Drafting reports on the progress of project development stages.</p>
            </li>
            <li data-list-text="">
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">Software development.</p>
            </li>
            <li data-list-text="">
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">Integrating postgres database with blutics.</p>
            </li>
            <li data-list-text="">
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">Developing Text Clustering module for BigBlue.</p>
            </li>
            <li data-list-text="">
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">Creating GIS and Mapping module for Blutics.</p>
            </li>
            <li data-list-text="">
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">CDR Analysis (Blutics) integration with BigBlue.</p>
            </li>
            <li data-list-text="">
                <p style="padding-top: 2pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">Development of Blutics(Call Data Record) analysis tool for crime detection and prevention.</p>
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
                <h1 style="padding-top: 10pt;padding-left: 8pt;text-indent: 0pt;text-align: left;"><a name="bookmark6">SKILLS</a></h1>
            </li>
            <li data-list-text="">
                <p style="padding-top: 2pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">Python</p>
            </li>
            <li data-list-text="">
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">Flask</p>
            </li>
            <li data-list-text="">
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">Django</p>
            </li>
            <li data-list-text="">
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">Java</p>
            </li>
            <li data-list-text="">
                <p style="padding-top: 2pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">JavaScript</p>
            </li>
            <li data-list-text="">
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">CSS</p>
            </li>
            <li data-list-text="">
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">HTML</p>
            </li>
            <li data-list-text="">
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">PHP</p>
            </li>
            <li data-list-text="">
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">Android using flutter and java</p>
            </li>
            <li data-list-text="">
                <p style="padding-top: 2pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">C, C++</p>
            </li>
            <li data-list-text="">
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">Sql</p>
            </li>
            <li data-list-text="">
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">Database management.</p>
            </li>
            <li data-list-text="">
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">Software installation.</p>
            </li>
            <li data-list-text="">
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">Network troubleshooting.</p>
            </li>
            <li data-list-text="">
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">Hardware troubleshooting.</p>
            </li>
            <li data-list-text="">
                <p style="padding-top: 2pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">Network Security</p>
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
                <h1 style="padding-top: 11pt;padding-left: 8pt;text-indent: 0pt;text-align: left;"><a name="bookmark7">PROJECTS DONE</a></h1>
            </li>
            <li data-list-text="">
                <p style="padding-top: 2pt;padding-left: 44pt;text-indent: -18pt;line-height: 112%;text-align: left;">Blutics (Call Data Records) analysis tool under the department of defence and National Intelligence Service.</p>
            </li>
            <li data-list-text="">
                <p style="padding-left: 44pt;text-indent: -18pt;text-align: left;">Big Blue for intelligence tool for the department of defence and National Defence Service.</p>
            </li>
            <li data-list-text="">
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">Smart Dairy System (Android and web based system)</p>
                <h1 style="padding-top: 3pt;padding-left: 8pt;text-indent: 0pt;text-align: left;"><a name="bookmark8">ACHIEVEMENTS</a></h1>
            </li>
            <li data-list-text="">
                <p style="padding-top: 2pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">Awarded certificate of participation 2016 by Kenya Secondary Schools Students Council</p>
            </li>
            <li data-list-text="">
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">Awarded certificate of participation by Raise Your Game Leadership Training Programme 2016</p>
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
                <h1 style="padding-top: 11pt;padding-left: 8pt;text-indent: 0pt;text-align: left;"><a name="bookmark9">CLUBS AND SOCIETIES</a></h1>
            </li>
            <li data-list-text="">
                <p style="padding-top: 2pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">Debate Club</p>
            </li>
            <li data-list-text="">
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">Straight Talk Club (guidance and counselling)</p>
            </li>
            <li data-list-text="">
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">Egerton University Computer Science Association (EUCOSA)</p>
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
                <h1 style="padding-top: 11pt;padding-left: 8pt;text-indent: 0pt;text-align: left;"><a name="bookmark10">LEADERSHIP</a></h1>
            </li>
            <li data-list-text="">
                <p style="padding-top: 2pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">Deputy school captain high school level</p>
            </li>
            <li data-list-text="">
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">House captain high school level</p>
            </li>
            <li data-list-text="">
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">Class representative high school level</p>
            </li>
            <li data-list-text="">
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">Class representative primary school level</p>
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
                <h1 style="padding-top: 11pt;padding-left: 8pt;text-indent: 0pt;text-align: left;"><a name="bookmark11">OBJECTIVES</a></h1>
            </li>
            <li data-list-text="">
                <p style="padding-top: 2pt;padding-left: 44pt;text-indent: -18pt;line-height: 112%;text-align: left;">To apply my abilities and experience in the service of humanity by providing leadership and new approaches in confronting challenges and seizing opportunities.</p>
            </li>
            <li data-list-text="">
                <p style="padding-left: 44pt;text-indent: -18pt;line-height: 112%;text-align: left;">To add value to the organization by applying myself to challenging work environments that will enhance my knowledge in the field of computer science and other fields as I pursue my career</p>
            </li>
            <li data-list-text="">
                <p style="padding-left: 44pt;text-indent: -18pt;text-align: left;">To be keen on opportunities that will expose me to business and other working opportunities.</p>
            </li>
        </ul>
        <p style="text-indent: 0pt;text-align: left;"><br/></p>
        <h1 style="padding-top: 11pt;padding-left: 8pt;text-indent: 0pt;text-align: left;"><a name="bookmark12">REFEREES</a><a name="bookmark13">&zwnj;</a></h1>
        <ol id="l2">
            <li data-list-text="1.">
                <h3 style="padding-top: 2pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">Mr. Dishon Kiruki</h3>
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: 0pt;text-align: left;"></p>
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: 0pt;line-height: 117%;text-align: left;">Kenya Power and Lighting Company</p>
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: 0pt;line-height: 117%;text-align: left;">0721827506</p>
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </li>
            <li data-list-text="1.">
                <h3 style="padding-top: 2pt;padding-left: 44pt;text-indent: -18pt;text-align: left;">Mr. Sanjeet Thethy</h3>
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: 0pt;text-align: left;">C.E.O</p>
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: 0pt;line-height: 117%;text-align: left;">Bluray Company 0723134242</p>
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </li>
            <li data-list-text="2.">
                <h3 style="padding-left: 44pt;text-indent: -18pt;text-align: left;"><a name="bookmark14">Dr. Bosire Omariba</a></h3>
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: 0pt;text-align: left;">Lecturer</p>
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: 0pt;text-align: left;">Egerton University</p>
                <p style="padding-top: 1pt;padding-left: 44pt;text-indent: 0pt;text-align: left;">+254729154296</p>
                <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </li>
            <li data-list-text="3.">
                <h3 style="padding-left: 44pt;text-indent: -18pt;text-align: left;"><a name="bookmark15">Mrs. Velma O. Madanye</a></h3>
            </li>
        </ol>
        <p style="padding-top: 1pt;padding-left: 44pt;text-indent: 0pt;text-align: left;">The principal,</p>
        <p style="padding-top: 2pt;padding-left: 44pt;text-indent: 2pt;line-height: 117%;text-align: left;">Mudasa Secondary school 0722890896</p>
    </div>
</div>